# Visual Studio files
.vscode/
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
*.log
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.tss
*.tlh
*.tli
*.tlb
*.bak
*.idb
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlh
*.tli
*.tmp
*.tmp_proj
*.log
*.vspscc
*.pubxml
*.Publish.xml
*.pfx
*.publishsettings
*.cache
*.cloudberry.xml
*.userosscache
*.userprefs

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache